<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Add coffee to database')"></head>
<body>
<div th:replace="partials/partials.html :: navbar"></div>
<div th:replace="partials/partials.html :: header"></div>

<form th:action="@{/coffees/update/{id}(id=${coffee.id})}"
      th:method="post" th:object="${coffee}">
    <label for="brand">Brand</label>
    <input type="text" th:field="*{brand}"  id="brand" />

    <label for="origin">Roast</label>
    <input type="text" th:field="*{roast}"  id="roast" />

    <label for="origin">Origin</label>
    <input type="text" th:field="*{origin}" id="origin" />

    <button>Submit</button>
</form>

<div th:replace="partials/partials.html :: footer"></div>
</body>
</html>