<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Add coffee to database')"></head>
<body>
<div th:replace="partials/partials.html :: navbar"></div>
<div th:replace="partials/partials.html :: header"></div>
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <button value="Sign me up!" type="submit">Sign Up</button>
</form>
<div th:replace="partials/partials.html :: footer"></div>
</body>
</html>